<%= form_for(@profile, :html => { multipart: true }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :gender %><br>
        <%= f.select(:gender, Profile.genders.keys.map {|gender| [gender.titleize, gender]}, {}, {:class => "form-control"}) %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :status %><br>
        <%= f.select(:status, Profile.statuses.keys.map {|status| [status.titleize, status]}, {}, {:class => "form-control"}) %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :permanent_address %><br>
    <%= f.text_area :permanent_address, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :tel %><br>
    <%= f.text_field :tel, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :date_of_birth %><br>
        <div class='input-group date' id='datetimepicker1' data-date-format='dd-mm-yyyy'>
          <%= f.text_field :date_of_birth, :class => "form-control"  %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :place_of_birth %><br>
    <%= f.text_field :place_of_birth, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :height %><br>
    <%= f.text_field :height, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :weight %><br>
    <%= f.text_field :weight, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :religion %><br>
    <%= f.text_field :religion, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :citizenship %><br>
    <%= f.text_field :citizenship, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
