<p id="notice"><%= notice %></p>

<h1>Profiles</h1>
<% @profiles.each do |profile| %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-10">
                        <h4>
                            <%= profile.first_name %> <%= profile.middle_name %> <%= profile.last_name %></h4>
                        <small><cite title="San Francisco, USA"><%= profile.permanent_address %> <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-briefcase"></i><%= profile.position %>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i><%= profile.date_of_birth.to_s.to_date %></p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                            
                        </div>
                        <%= link_to 'View Profile', profile, :type => 'button', :class => 'btn btn-primary pull-right' %>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<% end %>

