<p id="notice"><%= notice %></p>

<%= image_tag @profile.avatar_url(:thumb) %>
<p>
  <strong>Position:</strong>
  <%= @profile.position %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @profile.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @profile.gender.titleize %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @profile.status.titleize %>
</p>

<p>
  <strong>Permanent address:</strong>
  <%= @profile.permanent_address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @profile.tel %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @profile.place_of_birth %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @profile.religion %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @profile.citizenship %>
</p>

<h2>Educations</h2>
<table>
  <thead>
    <tr>
      <th>School name</th>
      <th>Degree receive</th>
      <th>Year attended</th>
    </tr>
  </thead>

  <tbody>
    <% @profile.educations.each do |education| %>
      <tr>
        <td><%= education.school_name %></td>
        <td><%= education.degree_receive %></td>
        <td><%= education.year_attended %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h2>Skills</h2>
<table>
  <thead>
    <tr>
      <th>Skill name</th>
    </tr>
  </thead>

  <tbody>
    <% @profile.skills.each do |skill| %>
      <tr>
        <td><%= skill.skill_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Employment Record</h2>
<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company address</th>
      <th>Company position</th>
      <th>Date start</th>
      <th>Date end</th>
    </tr>
  </thead>

  <tbody>
    <% @profile.employment_records.each do |employment_record| %>
      <tr>
        <td><%= employment_record.company_name %></td>
        <td><%= employment_record.company_address %></td>
        <td><%= employment_record.company_position %></td>
        <td><%= employment_record.date_start %></td>
        <td><%= employment_record.date_end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Character References</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Relationship</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @profile.character_references.each do |character_reference| %>
      <tr>
        <td><%= character_reference.name %></td>
        <td><%= character_reference.address %></td>
        <td><%= character_reference.relationship %></td>
        <td><%= character_reference.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_profile_path(@profile) %>
