<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="container" style="margin-top:40px">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Sign up</strong>
          </div>
          <div class="panel-body">
            <form role="form" action="#" method="POST">
              <fieldset>
                <div class="row">
                  <div class="center-block">
                    <%= devise_error_messages! %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span> 
                        <%= f.email_field :email, autofocus: true, :placeholder => 'Email', :class => 'form-control' %>
                      </div>
                    </div>
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :class => 'form-control' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password Confirmation', :class => 'form-control' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block' %>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="panel-footer ">
            Do You have account <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
