<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill_name %><br>
    <%= f.text_field :skill_name %>
  </div>
  <%= f.hidden_field :profile_id, :value => current_user.profile.id %>
  <%= f.hidden_field :user_id, :value => current_user.profile.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
