<%= form_for(@employment_record) do |f| %>
  <% if @employment_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employment_record.errors.count, "error") %> prohibited this employment_record from being saved:</h2>

      <ul>
      <% @employment_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_address %><br>
    <%= f.text_field :company_address %>
  </div>
  <div class="field">
    <%= f.label :company_position %><br>
    <%= f.text_field :company_position %>
  </div>
  <div class="field">
    <%= f.label :date_start %><br>
    <%= f.text_field :date_start %>
  </div>
  <div class="field">
    <%= f.label :date_end %><br>
    <%= f.text_field :date_end %>
  </div>
  <%= f.hidden_field :profile_id, :value => current_user.profile.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
