<p id="notice"><%= notice %></p>

<h1>Listing Employment Records</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company address</th>
      <th>Company position</th>
      <th>Date start</th>
      <th>Date end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_records.each do |employment_record| %>
      <tr>
        <td><%= employment_record.company_name %></td>
        <td><%= employment_record.company_address %></td>
        <td><%= employment_record.company_position %></td>
        <td><%= employment_record.date_start %></td>
        <td><%= employment_record.date_end %></td>
        <td><%= link_to 'Show', employment_record %></td>
        <td><%= link_to 'Edit', edit_employment_record_path(employment_record) %></td>
        <td><%= link_to 'Destroy', employment_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment record', new_employment_record_path %>
