<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @employment_record.company_name %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @employment_record.company_address %>
</p>

<p>
  <strong>Company position:</strong>
  <%= @employment_record.company_position %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @employment_record.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @employment_record.date_end %>
</p>

<%= link_to 'Edit', edit_employment_record_path(@employment_record) %> |
<%= link_to 'Back', employment_records_path %>
