<p id="notice"><%= notice %></p>

<h1>Listing Character References</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Relationship</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @character_references.each do |character_reference| %>
      <tr>
        <td><%= character_reference.name %></td>
        <td><%= character_reference.address %></td>
        <td><%= character_reference.relationship %></td>
        <td><%= character_reference.phone %></td>
        <td><%= link_to 'Show', character_reference %></td>
        <td><%= link_to 'Edit', edit_character_reference_path(character_reference) %></td>
        <td><%= link_to 'Destroy', character_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character reference', new_character_reference_path %>
