<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character_reference.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @character_reference.address %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @character_reference.relationship %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @character_reference.phone %>
</p>

<%= link_to 'Edit', edit_character_reference_path(@character_reference) %> |
<%= link_to 'Back', character_references_path %>
