@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*
Index Profile
*/
/*.glyphicon {  margin-bottom: 10px;margin-right: 10px;}*/

small {
display: block;
line-height: 1.428571429;
color: #999;
}