<%= form_for(@education) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :degree_receive %><br>
    <%= f.text_field :degree_receive %>
  </div>
  <div class="field">
    <%= f.label :year_attended %><br>
    <%= f.text_field :year_attended %>
  </div>
  <%= f.hidden_field :profile_id, :value => current_user.profile.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
