<p id="notice"><%= notice %></p>

<p>
  <strong>School name:</strong>
  <%= @education.school_name %>
</p>

<p>
  <strong>Degree receive:</strong>
  <%= @education.degree_receive %>
</p>

<p>
  <strong>Year attended:</strong>
  <%= @education.year_attended %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
