<!DOCTYPE html>
<html>
<head>
  <title>Hanepbuhay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <div id="wrapper">
  <% else %>
    <div id="wrapper" style="padding-left:0;">
  <% end %>
    <!-- /#wrapper -->
    <%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
	</div>
<div>
	<!-- /#wrapper -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
